@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bisque: #ffe4c4;
  --black: #000000;
  --black-light: #303031;
  --blue: #0062b2;
  --blue-light: #2d8eff;
  --blueViolet: #8a2be2;
  --blueViolet-light: #dabdf7;
  --braun: #92400e;
  --braun-dark: #230901;
  --green: #2b8c69;
  --green-light: #1db954;
  --grey: #6a6b6d;
  --grey-dark: #4a4b4c;
  --grey-light: #7b7b7b;
  --grey-light-super: #d5d5d5;
  --orange: #ff9f1a;
  --red: #ff0000;
  --red-light: #f56161;
  --red-dark: #ee0c4b;
  --tomato: #ff6347;
  --yellow-light: #feefc3;
  --white: #fff;
}

body {
  font-family: "Ubuntu Condensed", sans-serif, Arial;
  background-color: var(--bisque);
}

#root {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 100%;
  background-color: var(--black);
  padding: 8px;
  margin-top: 32px;
}

.title h1 {
  font-weight: 400;
  color: var(--white);
  text-align: center;

}

table,
th,
td {
  width: 100%;
  background-color: var(--black-light);
  color: var(--white);
  text-align: left;
}

thead tr {
  border-bottom: 1px solid var(--grey);
  border-top: 1px solid var(--grey);
}

tr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

th,
td {
  height: 65px;
  font-size: 2rem;
  padding: 12px;
}

td {
  background-color: var(--black-light);
  display: flex;
}

.lest {
  background-color: var(--black);
}

.flip {
  animation: 0.5s linear flipping;
  background-color: var(--black);
}

.flip:nth-child(2) {
  animation: 0.75s linear flipping;
}

.flip:nth-child(3) {
  animation: 1s linear flipping;
}

.flip:nth-child(4) {
  animation: 1.25s linear flipping;
}

.flip:nth-child(5) {
  animation: 1.5s linear flipping;
}

.flip:nth-child(6) {
  animation: 1.75s linear flipping;
}

.flip:nth-child(7) {
  animation: 2s linear flipping;
}

.flip:nth-child(8) {
  animation: 2.25s linear flipping;
}

.flip:nth-child(9) {
  animation: 2.5s linear flipping;
}

@keyframes flipping {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(-90deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}